# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Django
# =========================
*.log
db.sqlite3
staticfiles/
media/

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Virtual Environments
# =========================
venv/
.venv/

# =========================
# PostgreSQL
# =========================
postgres_data/
*.dump
*.sql

# =========================
# Docker
# =========================
.dockerignore

# =========================
# IDEs & Editors
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
